
h1 {
  color: olive;
  padding: 10px;
  background-color: orange;
  display: inline-block;
}

.name {
  text-align: center;
}

 #intro {
   text-align: center;
   padding: 5px;
   background-color: olive;
 }

 body {
     background-image: url("../images/squidflyer copy.jpg");
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-position: center;
     background-color: black;
     display: inline-block;

}

img {
  border-radius: 50%;
  padding-top: 25px;
  padding-bottom: 15px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
