/*media queries*/



/*base styles*/

body {
  text-align: center;
  background-image: url("../images/squidflyer copy.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-blend-mode: hard-light; /*just trying this out,
  feel free to delete*/

  background-position: center;
  background-size: cover;
  background-color: black;
}



/* Title */

h1 {
  color: #330014;
  padding: 10px;
  background-color: #ff0066;
  display: inline-block;
  box-shadow: 10px 10px;
}

.name {
  text-align: center;
  float: justify;
  padding: 5px;
}
/* header picture */

img {
  border-radius: 50%;
  padding-top: 1em;
  padding-bottom: 1em;
}

/*paragraphs*/

 #about {
   text-align: center;
   background-color: olive;
   width: 48%;
   max-width: 25em;
   padding: 2px auto;
   border: 2px auto;

 }

 .intro {
   float: left;
   width: 50%;
 }

 .action {
   float: right;
   width: 50%;
 }

div {
  display: inline-block;

}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/* list elements(links) */

.main-nav li {
  text-align: center;
  display: inline;
  background-color: olive;

}
